.inputField {
    padding-left: 24px;
    padding-right : 20cm;
    padding-top : 12px;
    padding-bottom : 12px;
}

.inputDate {
    padding-left: 24px;
    padding-right : 1cm;
    padding-top : 12px;
    padding-bottom : 12px;
}